<mat-card class="appointment-card-table">
  <mat-toolbar class="card-toolbar">
    <span class="toolbar-title">My Next Appointments</span>
    <span class="spacer"></span>
    <button mat-raised-button class="custom-button" (click)="navigateToNew()">Schedule Appointment</button>
  </mat-toolbar>

  <mat-card-content>
    <div class="table-wrapper">
      <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z4 appointment-table">

        <ng-container matColumnDef="id">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="reason">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Reason</th>
          <td mat-cell *matCellDef="let element">{{ element.reason }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
